<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>exzamen</title>
</head>
<body>
<a href="{% url 'main:index' %}">Главная</a>
<a href="{% url 'main:about' %}">О нас</a>
<a href="{% url 'main:contacts' %}">Контакты</a>
{% if user.is_authenticated %}
    <a href="{% url 'main:logout' %}">Выход</a>
    <a href="{% url 'main:profile' %}">Профиль</a>
{% else %}
<a href="{% url 'main:login' %}">Вход</a>
{% endif %}


{% block index %}
{%endblock%}
{%block content%}
{%endblock%}
{% block profile %}
{%endblock%}

{% block about%}
{% endblock %}
{% block contacts %}
{% endblock %}
</body>
</html>